<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicacion Flask</title>
</head>
<body>
    <h1>Bienvenido a mi proyecto {{numero}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, neque autem sunt nobis esse necessitatibus saepe id. Autem, vero facere. Ipsam est consequatur quae commodi aperiam blanditiis error veniam? Laudantium et accusantium, sequi dicta consequuntur officiis quia labore tempore repellendus exercitationem quaerat eos corporis quas veritatis sint ipsum delectus dolor praesentium dolore suscipit magnam. Fugiat, cupiditate! Mollitia rerum eos reiciendis voluptas, repudiandae asperiores unde, ipsa laudantium, veritatis vel neque animi recusandae cumque. Repellendus perferendis, quod facere officiis deserunt quasi, doloribus nihil odio enim quia voluptatibus culpa quas labore explicabo libero. Harum saepe ducimus tempora esse facilis rem dignissimos sint ipsum.</p>
</body>
</html>